.trackDiv{
    display: flex;
    justify-content: left;
    min-width: 500px;
}

.trackInfo{
    min-width: 300px;
    max-width: 300px;
    border: solid 1px black;
}

.trackDiv > button{
    border-radius: 25px;
    padding: 5px ;
    background-color: #DEF9C4;
    border: rgb(255, 255, 255, 0.5);
}